<html>
	<head>
		<link th:href="@{/CSS/addStudent.css}" rel="stylesheet" />
	</head>
<body>
	<h1>Add Student </h1>
	<a href="/student/index">Home</a> <br> <br>
	<form action="/student/add" method="post">
	        Enter Rollnumber:<input type="text" name="rollNumber" autocomplete="off">
			Enter Name:<input type="text" name="name" autocomplete="off">
			Enter Standard:<input type="text" name="standard" autocomplete="off">
			Enter Age:<input type="text" name="age" autocomplete="off">
			Enter Email:<input type="email" name="email" autocomplete="off">
			Enter password:<input type="password" name="password" autocomplete="off">
			<button>submit</button>
		</form>
	</div>
</body>	
	
	
</html>